/* sass color variables */

$theme-color: #f5b428 !default;
$theme-color-light: lighten($theme-color, 10%) !default;
$theme-color-dark: darken($theme-color, 25%) !default;
$theme-color-alt-a: rgb(242, 81, 121) !default;
$theme-color-alt-b: #5adbff !default;
$background-color: #181a1b !default;
$background-color-light: lighten($background-color, 10%) !default;
$background-color-dark: darken($background-color, 4%) !default;
$font-color: #f3f3f3 !default;
$date-color: #aaaaaa !default;

/* common options */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $font-color;
  background-color: $background-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
  text-align: center;
  color: $theme-color;
}

p {
  margin: 1em 0;
}

a {
  color: $theme-color-alt-a;
  text-decoration: none;
}

a:hover {
  color: $theme-color;
}

ul {
  padding-inline-start: 40px;
}

/* navigation bar */

nav {
  margin: 1em auto 1em auto;
  border-bottom: 0.05em solid $date-color;
  display: inline-block;
  width: 100%;
}

nav a#about {
  float: right;
  font-weight: bold;
  font-size: 120%;
}

nav a#about:hover {
  color: $font-color;
}

nav a#name {
  float: left;
  color: $theme-color-alt-b;
  font-weight: bold;
  font-size: 120%;
}

nav a#name:hover {
  float: left;
  color: $font-color;
}

.current {
  color: $theme-color;
}

/* viewport */

.viewport {
  text-align: justify;
  width: 48em;
  margin: 1em auto 1em auto;
  line-height: 1.5em;
  font-size: 110%;
}

/* content */

ul.blog {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.blog li {
  line-height: 1.5em;
}

ul.blog span {
  color: $date-color;
  font-size: 100%;
  font-family: "Ubuntu Mono", monospace;
}

ul.task-list {
  list-style-type: none;
  margin: 1em 0;
}

/* img format tags */

img[src*="#thumbnail"] {
  width: 100px;
  height: 100px;
}

/* about */

/* date & arrow formatting */

.post div#title span {
  color: $date-color;
  font-family: "Ubuntu Mono", monospace;
  font-size: 100%;
}

div#title span {
  padding-right: 0.3em;
}

div#title h1 {
  padding-left: 0.3em;
}

.blog li span {
  padding-right: 0.3em;
}

.blog li a {
  padding-left: 0.3em;
}

/* post */

.post div {
  display: block;
  text-align: center;
}

.post div h1 {
  display: inline-block;
  color: $theme-color;
}

.post p {
  line-height: 1.3em;
}

.post h1,
h2,
h3,
h4,
h5,
h6 {
  color: $theme-color-alt-b;
}

input[type="checkbox"] {
  margin-right: 1em;
}

blockquote {
  background: $background-color-light;
  border-left: 10px solid $theme-color-light;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  color: $font-color;
  line-height: 1.3em;
  font-size: 90%;
}
blockquote:before {
  font-size: 1em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

ol {
  margin-left: 2em;
}

ol li {
  margin: 1em 0;
  line-height: 1.2em;
}

p img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

/* code formatting */

code {
  font-size: 80%;
  font-family: "Inconsolata", monospace;
  border: 0.05em solid rgb(65, 65, 65);
  border-radius: 3px;
  padding: 0.1em 0.5em 0.2em 0.5em;
  color: #f1fa8c;
  background-color: #282a36;
  line-height: 1.2em;
}

pre {
  margin: 2em;
}

pre code.hljs {
  padding: 1em 1em;
}

/* footer */

footer {
  border-top: 0.1em solid $date-color;
  margin: 1em auto 0em auto;
  display: inline-block;
  width: 100%;
}

footer div {
  font-size: 80%;
  line-height: 1.5em;
}

footer div.left {
  float: left;
  text-align: justify;
  color: $date-color;
}

footer div.right {
  float: right;
  text-align: right;
}
