<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/assets/css/styles.css" />

    <!-- syntax highlighting with highlight.js -->

    <link rel="stylesheet" href="/assets/css/syntax/dracula.css" />
    <script src="/assets/js/highlight.pack.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
  </head>
  <body>
    <div class="viewport">
      {% include navigation.html %}
      <div class="content">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
